<div class="container">
  <div class="form-signin" id="sign-in-body">
    <%= form_for(current_user, as: "user", url: finish_signup_path(current_user), html: {role: "form"}) do |f| %>
      <h2 class="form-signin-heading">Add Email</h2>
      <% if @show_errors = true && current_user.errors.any? %>
        <div>
          <% current_user.errors.full_messages.each do |msg| %>
            <%= msg %>
          <% end %>
        </div>
      <% end %>
        <%= f.email_field :email, autofocus: true, value: "", placeholder: "email@me.com", id: "inputEmail", class: "form-control" %>
        <h5>Please confirm your email address to continue.</h5>
        <%= f.button "Continue", class: "btn btn-large btn-primary btn-block", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Sending email..."} %>
    <% end %>
  </div>
</div>
