<div class="jumbotron">
  <div class="container">
    <h1>Welcome to Blocmetrics</h1>
    <p>Blocmetrics is an application that allows users to track events on their own web sites. Sign-up for a free account and get first-class analytics and metrics of significant events that occur on your websites and applications.</p>
    <p><%= link_to "Sign up", new_user_registration_path, class: "btn btn-lg btn-primary" %></p>
  </div>
</div>
